<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
		<script src="mydiary.js"></script>
	</head>
	<body background="background6.jpg" onload="">
		<div id="page">
			<div id="header" class="page-header header">
			</div>
			<div id="body">
				<div class="container container-home">
                    <h2>
                        <p><u><span>401 ERROR!</span></u></p> 
                        <p>Sorry! You are not authorized to view this page.</p> 
                        <p>Please, LogIn to use MyDiary</p>
                    </h2>
                </div>
			</div>
            <div class="col">
                <button type="submit" class="button-error" onclick="window.location.href='/login'">LogIn</button>
            </div>
        </body>
		<div class="footer">
            <br>
		</div>
	</div>
</html>
