<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/style.css">	
		<script src="static/mydiary.js"></script>
	</head>
	<body background="static/background6.jpg" onload="">
		<div id="page">
			<div id="header" class="page-header header">
			</div>
			<div id="body">
				<div class="container container-home">
                    <h2>
                        <p><u><span>500 ERROR!</span></u></p> 
                        <p>Internal Server Error!</p> 
                        <br>
                        <p>Go back to the previous page.</p>
                    </h2>
                </div>
			</div>
            <div class="col">
                <button type="submit" class="button-error" onclick="goBack()">Back</button>
            </div>
        </body>
		<div class="footer">
            <br>
		</div>
	</div>
</html>
