<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="mydiary.js"></script>	
	</head>
	<body background="background6.jpg" onload="addOrEdit()">
		<div id="page">
			<div id="header" class="page-header header">
				<img src="diary_logo.png" alt="MyDiary" class="page-logo"></img>
			</div>
			<div id="body">
				<div class="container container-home">
					<div id="editmessage"></div>
					<br>
					<!-- <h2><div id="entryTitle" data-placeholder="Click Here to Enter Today's Title" contenteditable="true"></div></h2> -->
					<textarea class="titledata" id="entryTitle" placeholder="Click Here to Enter Today's Title" rows="1" cols="70"></textarea>
						<h4><div id="entryDate"></div></h4>
					<br><br>
					<!-- <h3><div id="entryText" data-placeholder="What's on your mind? Click here to start writing :)" contenteditable="true"></div></h3> -->
					<textarea  id="entryText" placeholder="What's on your mind? Click here to start writing :)" rows="7" cols="70"></textarea>
				</div>
				<div id="app-button" class="container-button">
					<div class="col col-20">
						<button type="button" class="button-page" onclick="newOrUpdate()">Save</button>
					</div>
					<div class="col col-20">
						<a href="home.html"><input type="button" class="button-page" onclick="" value="Delete"></a>
					</div>
					<div class="col col-20">
						<a href="home.html"><input type="button" class="button-page" onclick="" value="MyThoughts"></a>
					</div>
					<div class="col col-20">
						<a href="profile.html"><input type="button" class="button-page" onclick="" value="MyProfile"></a>
					</div>
					<div class="col col-20">
						<a href="login.html"><input type="button" class="button-page" onclick="" value="LogOut"></a>
					</div>
				</div>
			</body>
			<div class="footer">
				<p>Page by: Gordon Balaaka</p>
			  	<p>App information.</p>
			</div>
		</div>
</html>