<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<script src="static/mydiary.js"></script>	
	</head>
	<body background="static/background6.jpg" onload="addOrEdit()">
		<div id="page">
			<div id="header" class="page-header header">
				<img src="static/diary_logo.png" alt="MyDiary" class="page-logo">
			</div>
			<div id="body">
				<div class="container container-home">
					<div id="editmessage"></div>
					<br>
					<textarea class="titledata" id="entryTitle" placeholder="Click Here to Enter Today's Title" rows="1" cols="70"></textarea>
						<h4><div id="entryDate"></div></h4>
					<br><br>
					<textarea  id="entryText" placeholder="What's on your mind? Click here to start writing :)" rows="7" cols="70"></textarea>
				</div>
				<div id="app-button" class="container-button">
					<div class="col col-20">
						<button type="submit" class="button-page" onclick="newOrUpdate()">Save</button>
					</div>
					<div class="col col-20">
						<button type="submit" class="button-page" onclick="deleteEntry()">Delete</button>
					</div>
					<div class="col col-20">
						<button type="submit" class="button-page" onclick="window.location.href='/home'">MyThoughts</button>
					</div>
					<div class="col col-20">
						<button type="submit" class="button-page" onclick="window.location.href='/profile'">MyProfile</button>
					</div>
					<div class="col col-20">
						<button type="submit" class="button-page" onclick="logout()">LogOut</button>
					</div>
				</div>
			</body>
			<div class="footer">
				<p>Page by: Gordon Balaaka</p>
			  	<p>App information.</p>
			</div>
		</div>
</html>