<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="mydiary.js"></script>	
	</head>
	<body background="background6.jpg" onload="getOneEntry()">
		<div id="page">
			<div id="header" class="page-header header">
				<img src="diary_logo.png" alt="MyDiary" class="page-logo"></img>
			</div>
			<div id="body">
				<div class="container container-home">
					<br>
					<h2><div id="title"></div></h2>
					<h4><div id="date"></div></h4>
					<br><br>
					<h3><div id="text"></div></h3>
				</div>
				<div id="app-button" class="container-button">
					<div class="col col-20">
						<a href="edit.html"><input type="button" class="button-page" onclick="" value="Save"></a>
					</div>
					<div class="col col-20">
						<a href="home.html"><input type="button" class="button-page" onclick="" value="Delete"></a>
					</div>
					<div class="col col-20">
						<a href="home.html"><input type="button" class="button-page" onclick="" value="MyThoughts"></a>
					</div>
					<div class="col col-20">
						<a href="profile.html"><input type="button" class="button-page" onclick="" value="MyProfile"></a>
					</div>
					<div class="col col-20">
						<a href="login.html"><input type="button" class="button-page" onclick="" value="LogOut"></a>
					</div>
				</div>
			</body>
			<div class="footer">
				<p>Page by: Gordon Balaaka</p>
			  	<p>App information.</p>
			</div>
		</div>
</html>