<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
		<script src="mydiary.js"></script>
	</head>
	<body background="background6.jpg" onload="getUserEntries()">
		<div id="page">
			<div id="header" class="page-header header">
				<img src="diary_logo.png" alt="MyDiary" class="page-logo"></img>
			</div>
			<div id="body">
				<div class="container container-home">
					<div id="homemessage"></div>
					<br>
					<h2><u>MyThoughts</u></h2>
					<table id="entriesList">
						<tr>
		                    <th>This is the second diary entry. Pretend there's a paragraph of information</th>
		                    <th>07/01/18</th>
		                    <th>
		                    	<a href="edit.html"><input type="button" class="button-edit" onclick="" value="Edit"></a>
		                    	<input type="button" class="button-delete" onclick="" value="Delete">
		                    </th>
		                </tr>
					</table>
				</div>
				<div id="app-button" class="container-button">
					<div class="col col-33">
						<button type="submit" class="button-page" onclick="add()">NewThought</button>
					</div>
					<div class="col col-33">
						<button type="submit" class="button-page" onclick="window.location.href='./profile.html'">MyProfile</button>
					</div>
					<div class="col col-33">
						<button type="submit" class="button-page" onclick="logout()">LogOut</button>
					</div>
				</div>
			</div>
		</body>
		<div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</div>
</html>
