<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/style.css">	
		<script src="static/mydiary.js"></script>
	</head>
	<body background="static/background6.jpg" onload="loginmessage()">
		<div class="page-header header">
			<img src="static/diary_logo.png" alt="MyDiary" class="page-logo">
		</div>
		<div id="login" class="container container-login">
			<h5><div id="logmessage"></div></h5>
			<h1><u>LogIn</u></h1>
			<form>
				<div class="row">
					<div class="col col-40">
						<label for="mail">E-mail</label>
					</div>
					<div class="col col-60">
						<input type="text" id="mail" name="email" placeholder="your.name@email.com">
					</div>
				</div>	
				<div class="row">
					<div class="col col-40">
						<label for="pword">Password</label>
					</div>
					<div class="col col-60">
						<input type="password" id="pword" name="password" placeholder="">
					</div>
				</div>
			</form>
		</div>
		<div id="login-button" class="container-button">
			<div class="col col-25">
				<button type="submit" class="button-page" onclick="login()">LogIn</button>
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
				<button type="submit" class="button-page" onclick="window.location.href='/'">Back</button>
			</div>
		</div>
	</body>
	<div class="footer">
		<p>Page by: Gordon Balaaka</p>
	  	<p>App information.</p>
	</div>
</html>