<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<script src="static/mydiary.js"></script>	
	</head>
	<body background="static/background6.jpg" onload="userProfile()">
		<div class="page-header header">
			<img src="static/diary_logo.png" alt="MyDiary" class="page-logo">
		</div>
		<div class="container container-profile">
			<br>
			<table id="entriesList">
				<tr>
					<th>All entries: </th>
					<th id="allentries"></th>
				</tr>
				<tr>
					<th>Current entries: </th>
					<th id="currententries"></th>
				</tr>
				<tr>
					<th>Deleted entries: </th>
					<th id="deletedentries"></th>
				</tr>
				<tr>
					<th>Date Joined: </th>
					<th id="registered"></th>
				</tr>
				<tr>
					<th>Last Logged In </th>
					<th id="lastused"></th>
				</tr>
			</table>
			<br>
			<form>
			  <input type="radio" name="notification" value="true" checked> Notifications On<br>
			  <input type="radio" name="notification" value="false"> Notifications Off<br>
			</form>
			<br> 
		</div>

        <div id="app-button" class=container-button>
            <div class="col col-33">
				<button type="submit" class="button-page" onclick="">Save</button>
            </div>
            <div class="col col-33">
				<button type="submit" class="button-page" onclick="window.location.href='/home'">MyThoughts</button>
            </div>
            <div class="col col-33">
				<button type="submit" class="button-page" onclick="logout()">LogOut</button>
            </div>
		</div>
        <div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</body>
</html>