<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UserRegistration</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/mydiary.js"></script>
	</head>
	<body background="static/background6.jpg">
		<div class="page-header header">
            <img src="static/diary_logo.png" alt="MyDiary" class="page-logo"></img>
		</div>
		<div id="registration" class="container container-login">
            <form id="regform">
                <div id="regmessage"></div>
                <h1><u>Please Register</u></h1>
                <br>
                <div class="row">
                    <div class="col col-40">
                        <label for="uname">Name</label>
                    </div>
                    <div class="col col-60">
                        <input type="text" id="uname" name="username" placeholder="John Doe">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-40">
                        <label for="mail">E-mail</label>
                    </div>
                    <div class="col col-60">
                        <input type="text" id="mail" name="email" placeholder="your.name@email.com">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-40">
                        <label for="pword">Password</label>
                    </div>
                    <div class="col col-60">
                        <input type="text" id="pword" name="password" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-40">	
                        <label for="pword2">Confirm Password</label>
                    </div>
                    <div class="col col-60">
                        <input type="text" id="pword2" name="confirmpassword" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div id="login-button" class="container-button">
            <div class="col col-25">
                <button type="submit" class="button-page" onclick="addUser()">Submit</button>
            </div>
            <div class="col col-25">
            </div>
            <div class="col col-25">
            </div>
            <div class="col col-25">
                <button type="submit" class="button-page" onclick="window.location.href='./index.html'">Back</button>
            </div>
        </div>
	</body>
    <div class="footer">
            <p>Page by: Gordon Balaaka</p>
            <p>App information</a>.</p>
    </div>
</html>

